[submodule "references/figma_design_playground"]
	path = references/figma_design_playground
	url = git@github.com:TETRA2000/figma_design_playground.git
[submodule "references/figma-html-renderer"]
	path = references/figma-html-renderer
	url = git@github.com:TETRA2000/figma-html-renderer.git
