[submodule "references/figma_design_playground"]
	path = references/figma_design_playground
	url = https://github.com/TETRA2000/figma_design_playground.git
[submodule "references/figma-html-renderer"]
	path = references/figma-html-renderer
	url = https://github.com/TETRA2000/figma-html-renderer.git
[submodule "references/skill-creator"]
	path = references/skill-creator
	url = https://github.com/anthropics/skills.git
